<template>
    <div>
        <span>{{message}}</span>
    </div>
</template>

<script>
export default {
    el: "Tutorial",
    data: function () {
    return {
      message: 'Hello World'
        }
    } 
}
</script>

<style scoped>

</style>