<template>
    <div>
        <p>{{ message }}</p>
        <input v-model="message">
    </div>
</template>

<script>
export default {
    el: "Tutorial4",
    watch: {
        message(){
            alert('message changed!')
        }
    },
    data: function(){
        return {
            message : 'Hello World!'
        }
    }
}
</script>