<template>
    <div id="tutorial3">
        <ul>
            <li v-for="student in students" :key="student.name"> {{student.name}}</li>
        </ul>
    </div>
</template>

<script>
export default {
    el: "Tutorial3",
    data: function () {
    return {
      students: [
            {name: 'Paul'},
            {name: 'Muhammad'},
            {name: 'Emre'},
            {name: 'Büsra'},
            {name: 'Nirmin'}
            ]
        }
    }
}
</script>

<style>

</style>