<template>
    <div>
        <ul>
            <li v-for="result in results" v-bind:key="result.employee_name">{{result.employee_name}}</li>
        </ul>
    </div>
</template>


<script>
import axios from 'axios'
export default {
    el: "Tutorial5",
    data(){
        return {
            results: null
        }
    },
    mounted() {
       axios
        .get('http://dummy.restapiexample.com/api/v1/employees')
        .then( response => (this.results = response.data.data)) 
    }
}
</script>