<template>
  <div id="app">
    <tutorial></tutorial>
    <tutorial2 message="Hello"></tutorial2>
    <tutorial3></tutorial3>
    <tutorial4></tutorial4>
    <tutorial5></tutorial5>

  </div>
</template>

<script>
import Tutorial from './components/Tutorial.vue'
import Tutorial2 from './components/Tutorial2.vue'
import Tutorial3 from './components/Tutorial3.vue'
import Tutorial4 from './components/Tutorial4.vue'
import Tutorial5 from './components/Tutorial5.vue'



export default {
  name: 'App',
  components: {
    Tutorial,
    Tutorial2,
    Tutorial3,
    Tutorial4,
    Tutorial5
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
